* {
    text-align: center;
}

form {
    margin-top: 2rem;
}

#cityName {
    margin: 0 1rem;
}

ul {
    display: flex;
    flex-direction: row;
}

.card {
    margin: 2rem;
    padding: 2rem;
    background-color: lightgrey;
    text-align: center;
    border-radius: 10px;
    width: 6rem;
}

li {
    list-style: none;
    display: block;
    font-weight: bold;
}
